<div class="row">
    <div class="col-sm-12">
        <form #userForm="ngForm" (ngSubmit)="onsubmit(userForm)">
            <div class="form-group">
                <label for="username" class="form-label">
                    username
                </label>
                <input type="text" ngModel name="username" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">
                    email
                </label>
                <input type="text" ngModel name="email" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="secrectQuestion"> Secrect Question</label>
                <select name="secrectQuestion" ngModel id="" class="form-control">
                    <option value="favourite Teacher">favourite teacher</option>
                    <option value="favourite Book">favourite Book</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>